nav {
  background-color: #f2f2f2;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #0189d6;
  min-height: 3.5rem;
  position: sticky;
  top: 0;
}

.nav-items {
  display: flex;
  list-style: none;
  align-items: center;
  color: #0189d6;
  margin-right: 10rem;
  margin-top: .5rem;


}

.nav-item {
  color: #0189d6;
  /* margin-right: .75rem;
  margin-left: .75rem; */
}

.nav-item a {
  text-decoration: none;
  color: #0189d6;
  font-weight: 600;
  padding: 10px 12px;
}

.nav-item a:hover {
      color: #003787;
}

.dropdown-toggle {
  cursor: pointer;
  color: #0189d6;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ddd;
  z-index: 1;
  list-style: none;
  padding: 0px 6px;
  margin: 0;
  color: #0189d6;
    font-size: 14px;
    border-left: hsl(202, 99%, 42%) solid 2px;
}

.dropdown-menu li {
  align-items: center;
  justify-content: center;
  margin: 1rem;
  font-size: 16px;
  border-bottom: solid black 1px;
}

.dropdown-menu a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
}

.dropdown-menu a:hover {
  color: #003787;

}

.nav-item:hover .dropdown-menu {
  display: block;
}

.nav-btn{
  color: hsl(202, 99%, 42%);
  background-color: #f2f2f2;
  border-radius: 5px;
  padding: 10px 10px;
  border: solid 2px #003787;
  font-weight: 600;
  font-size: 18px;
  margin-top: 2px;
}

.nav-btn a {
  text-decoration: none;
  color: hsl(202, 99%, 42%);
  padding: 12px 14px;
  font-size: 18px;

}

.nav-btn:hover{
  transition: .1s;
  background-color:#003787;
  color: white;
  cursor: pointer;
}

.nav-btn a:hover{
  color: white;
}




nav img{
  max-width: 20px;
  margin-right: 20vw;
}