

/** 


Data Center Picture on theSolutions, 
IT Financing Images

**/
:root {
    --main-blue: hsl(202, 99%, 42%);
    --test-blue: #3C8FED;
}
/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

.header h1 {
    font-size: 2.5em;
}

.header p {
    font-size: 1.2em;
}

.features {
    background-color: #fff;
    padding: 50px 0;
    padding-bottom: 2rem;
    text-align: center;


}

.features h2 {
    margin-bottom: 30px;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.feature i {
    margin-right: 10px;
    color: #4caf50;
}

.cta {
    background-color: #4caf50;
    padding: 50px 0;
    text-align: center;
}

.cta h2 {
    margin-bottom: 30px;
}


footer {
    text-align: center;
    padding: 20px 0;
}


/* img {
    max-width: 24rem;
} */

 .hero {
    height: 85vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
background: linear-gradient(to right, #e9f7ff 0%, #f5fbff 23%, #f5fbff 23%, #ffffff 100%);
    /* background: url(./images/hero-img.png) no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: #25AAE1; */



} 


/* .bg-image{
    height: 100vh;
    background: url(./images/hero-img.png) no-repeat;
    background-size: cover;

} */

/* .hero-sub {
    min-width: 80%;
    min-height: 36em;
    background: url('./images/factory-smile.jpg') no-repeat;
    background-size: cover;
    background-position: 50%;
    max-width: 80%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: #EFD100 5px solid;
} */


.left-hero{
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    margin-left: 5rem;
}

.right-hero{
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
}
#worker{
    /* position: relative; */
    /* margin-top: 6rem; */
    max-width: 40vw;
    justify-content: center;
    align-items: center;
    

    /* margin-left: 6rem; */
}

/* #worker:hover {
    border-radius: 50px;
    border: 2px solid #003787;
    transform: scale(1.05);
} */
#upper-circle{
   position: relative;
    max-width: 4vw;
    bottom: 14rem;
    right: 3rem;
    z-index: 1;
    /* left: 16rem; */
    /* position: relative;
     max-width: 4rem;
    margin-left: 40rem;
    padding-top: 12rem; */
}

#lower-circle{
    max-width: 5vw;
    position: relative;
    top: 16rem;
    left: 4rem;
    z-index: 1;

   /* position: relative;
    
    bottom: 2rem;
    right: 12rem;
     bottom: 5rem;
    left: 9rem; */
}

.heading {
    font-size: 32px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.for-heading{
    font-size: 26px;
}
.blue-heading{
    color: var(--main-blue);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.heading-div{
    margin-bottom: 1.5rem;
    text-align: center;
}

.hero-paragraph{
    font-size: 1.2rem;
    color: #4B4F58;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.left-hero .blue-p{
    color: var(--main-blue);
    font-weight: 600;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.hero-btn{
    color: white;
    font-size: 20px;
    padding: 10px 72px;
    border-radius: 5px;
    border: none;
    margin-top: 2cqmax; 
    letter-spacing: .5px;
}

.pushable {
    background: hsl(202, 99%, 30%);
    border-radius: 5px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 2px;
    transition: .3s;
 
}

.front {
    display: block;
    padding: 12px 42px;
    border-radius: 5px;
    font-size: 1.25rem;
    background: hsl(202, 99%, 42%);
    color: white;
    transform: translateY(-6px);
}

.pushable:active .front {
    transform: translateY(-2px);
}

.pushable a:hover{
    color: #0056b3;
}
.pushable:hover{
    transition: background-color .3s ease;
    background-color: #003787;
     /* -webkit-box-shadow: -1px 0px 35px 3px rgba(233, 196, 106, 1);
    -moz-box-shadow: -1px 0px 35px 3px rgba(233, 196, 106, 1);
    box-shadow: -1px 0px 35px 3px rgba(233, 196, 106, 1);  */
    
}

.front:hover{

    border: 2px solid #003787;
        background-color: #fff;
            color: #003787;
}

.hero-list{
    list-style: none;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    
    
}
.hero-list li{
    color: var(--main-blue);
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 24px;
    margin-bottom: 2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.hero-list li:nth-child(even){
    color: #003787;
}

.dark-blue-heading{
    color: #003787;
}








/** FEATURES **/


.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    /* Adjust width as needed */
}

.card {
    width: calc(20% - 20px);
    /* Adjust based on number of cards per row */
    margin: 10px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
    height: 150px;
    /* Adjust image height as needed */
    object-fit: cover;
    /* Scales image to fit within container */
}

.card h3 {
    margin: 10px 0;
    font-weight: bold;
    color: #003787;
}

.card p {
    font-size: 16px;
    color: #4B4F58;
}

.features-btn {
    color: hsl(202, 99%, 42%);
    background-color: #003787;
    border-radius: 5px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /* padding: 1.3rem 2rem; */
    /* border: solid 2px hsl(202, 99%, 42%); */
    font-weight: 600;
    font-size: 1rem;
    margin-top: 2rem;
    box-shadow: 6px 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.features-btn a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
     padding: 24px; 

}

.features-btn:hover {
    transition: .1s;
    background-color: #f2f2f2;
    cursor: pointer;
    color: #003787;
    transition: .1s;
    border: solid 2px #003787;

}

.features-btn a:hover {
    color: #003787;
}

.section {
    /* display: flex; */
    padding: 2rem 3.5rem;
}


/** LEASING **/
.leasing {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.lease-container{
    max-width: 1200px;
    justify-content: center;
}

.lease-cards {
    display: flex;

    /* margin: 0 auto; */
    /* width: 80%; */
}

.lease-img-container{
    
}
.lease-card {

    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    min-width: 40vw;
    justify-content: center;
    align-items: center;

    padding: 15px;

        /* width: 100vw;
            margin: 10px; */
                /* min-height:40vh; */
}

.lease-heading{
    justify-content: center;
}

.lease-heading-div{
    justify-content: center;
}
.lease-card h3 {
    margin: 10px 0;
    font-weight: bold;
    color: #003787;
    
}

.lease-card p {
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 16px;
    color: #4B4F58;
}

.leasing-img {
    width: 48rem;
    border-radius: 16px;
        text-align: center;
            position: relative;
            z-index: 3;
            margin-right: 5px;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


.about{
    display: flex;
    background-color: #f4f4f4;
}

.about h2{
    margin-top: 1rem;
}
/* 
        color: hsl(202, 99%, 42%);
        background-color: #003787;
        border-radius: 5px;
        padding-top: 1rem;
        padding-bottom: 1rem;
         padding: 1.3rem 2rem;
         border: solid 2px hsl(202, 99%, 42%);
        font-weight: 600;
        font-size: 1rem;
        margin-top: 2rem;
        box-shadow: 6px 8px 16px 0 rgba(0, 0, 0, 0.2);
         */

.lease-btn{
    justify-content: center;
    background-color: #003787;
    border-radius: 5px;
    border: solid 2px hsl(202, 99%, 42%);
    font-weight: 600;
    font-size: 18px;
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    margin-top: 2rem;
}

.lease-btn a {
    text-decoration: none;
    /* color: hsl(202, 99%, 42%); */
    color: white;
    font-size: 18px;
    padding: 14px 16px;
}

.lease-btn:hover {
    transition: .1s;
    /* background-color: #fff; */
    border: solid 2px #003787;
}

.lease-btn a:hover {
    background-color: #fff;
    color: #003787;
}